<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAUDE Media Device Failure Classification</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script>
      function openTab(event, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " active";
      }

      function submitText() {
        var brandName = document.getElementById("brand_name").value;
        var patientProblem = document.getElementById("patient_problem").value;
        var manufacturerNarrative = document.getElementById(
          "manufacturer_narrative"
        ).value;
        var eventDesc = document.getElementById("event_desc").value;

        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body:
            "brand_name=" +
            encodeURIComponent(brandName) +
            "&patient_problem=" +
            encodeURIComponent(patientProblem) +
            "&manufacturer_narrative=" +
            encodeURIComponent(manufacturerNarrative) +
            "&event_desc=" +
            encodeURIComponent(eventDesc),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("disabled_box").value = data.prediction;
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="tab">
        <button
          class="tablink tab_button"
          onclick="openTab(event, 'Home')"
          id="defaultOpen"
        >
          Home
        </button>
        <button class="tablink" onclick="openTab(event, 'Model')">Model</button>
      </div>

      <div id="Home" class="tabcontent">
        <h1 class="title">MAUDE Medical Device Failure Classification</h1>

        <form action="javascript:void(0);" class="form-center">
          <label for="brand_name">Brand Name:</label>
          <div class="search">
            <input
              type="text"
              id="brand_name"
              name="brand_name"
              class="search_input"
              placeholder="Enter Brand Name"
            />
          </div>
          <br />

          <label for="patient_problem">Patient Problem:</label>
          <div class="search">
            <input
              type="text"
              id="patient_problem"
              name="patient_problem"
              class="search_input"
              placeholder="Enter Patient Problem"
            />
          </div>
          <br />

          <label for="manufacturer_narrative">Manufacturer Narrative:</label>
          <div class="search">
            <textarea
              type="text"
              id="manufacturer_narrative"
              name="manufacturer_narrative"
              class="text_input"
              placeholder="Enter Manufacturer Narrative"
            ></textarea>
          </div>
          <br />

          <label for="event_desc">Event Description:</label>
          <div class="search">
            <textarea
              cols="40"
              rows="5"
              class="text_input"
              id="event_desc"
              name="event_desc"
              placeholder="Event Description"
            ></textarea>
          </div>
          <br />

          <button class="button" onclick="submitText()">Classify</button>
        </form>
        <br /><br />

        <div class="results">
          <label for="disabled_box"
            >Predicted Medical Device Failure Classification:</label
          >
          <br />
          <div class="search prediction">
            <textarea
              class="text_input pred_text"
              id="disabled_box"
              name="disabled_box"
              rows="4"
              cols="50"
              placeholder="Predicted Device Failure"
              disabled
            ></textarea>
          </div>
        </div>
      </div>

      <div id="Model" class="tabcontent" style="display: none">
        <h1 class="model_title">XGBoost with Weights Performance</h1>
        <div class="model_perf">
          <h2>Classification Report</h2>
          <table>
            <thead>
              <tr>
                <th>Label</th>
                <th>Precision</th>
                <th>Recall</th>
                <th>F1-Score</th>
                <th>Support</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Label 0</td>
                <td>0.80</td>
                <td>0.89</td>
                <td>0.84</td>
                <td>9</td>
              </tr>
              <tr>
                <td>Label 1</td>
                <td>0.92</td>
                <td>1.00</td>
                <td>0.96</td>
                <td>22</td>
              </tr>
              <tr>
                <td>Label 2</td>
                <td>0.79</td>
                <td>0.94</td>
                <td>0.86</td>
                <td>16</td>
              </tr>
              <tr>
                <td>Label 3</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Label 4</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Label 5</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Label 6</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Label 7</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Label 8</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>7</td>
              </tr>
              <tr>
                <td>Label 9</td>
                <td>0.67</td>
                <td>1.00</td>
                <td>0.80</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Label 10</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Label 11</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Label 12</td>
                <td>1.00</td>
                <td>0.86</td>
                <td>0.92</td>
                <td>7</td>
              </tr>
              <tr>
                <td>Label 13</td>
                <td>0.96</td>
                <td>0.76</td>
                <td>0.85</td>
                <td>29</td>
              </tr>
              <tr>
                <td>Label 14</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Label 15</td>
                <td>0.90</td>
                <td>0.82</td>
                <td>0.86</td>
                <td>11</td>
              </tr>
              <tr>
                <td>Label 16</td>
                <td>0.76</td>
                <td>1.00</td>
                <td>0.87</td>
                <td>29</td>
              </tr>
              <tr>
                <td>Label 17</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>11</td>
              </tr>
              <tr>
                <td>Label 18</td>
                <td>0.90</td>
                <td>1.00</td>
                <td>0.95</td>
                <td>19</td>
              </tr>
              <tr>
                <td>Label 19</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>1.00</td>
                <td>183</td>
              </tr>
              <tr>
                <td>Label 20</td>
                <td>1.00</td>
                <td>0.67</td>
                <td>0.80</td>
                <td>6</td>
              </tr>
              <tr>
                <td>...</td>
              </tr>
              <tr>
                <td class="text_color"><strong>Macro avg</strong></td>
                <td class="text_color"><strong>0.71</strong></td>
                <td class="text_color"><strong>0.73</strong></td>
                <td class="text_color"><strong>0.71</strong></td>
                <td class="text_color"><strong>610</strong></td>
              </tr>
              <tr>
                <td class="text_color"><strong>Weighted avg</strong></td>
                <td class="text_color"><strong>0.94</strong></td>
                <td class="text_color"><strong>0.95</strong></td>
                <td class="text_color"><strong>0.94</strong></td>
                <td class="text_color"><strong>610</strong></td>
              </tr>
              <tr>
                <td class="text_color"><strong>Samples avg</strong></td>
                <td class="text_color"><strong>0.95</strong></td>
                <td class="text_color"><strong>0.97</strong></td>
                <td class="text_color"><strong>0.95</strong></td>
                <td class="text_color"><strong>610</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="accuracy">Overall Accuracy: 86.547%</p>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>
